@font-face {
	font-family: 'Geologica-light'; 
	src: url(../fonts/Geologica/static/Geologica-Light.ttf); 
}


@font-face {
	font-family: 'Geologica-regular';  
	src: url(../fonts/Geologica/static/Geologica-Regular.ttf); 
}

@font-face {
	font-family: 'Geologica-medium'; 
	src: url(../fonts/Geologica/static/Geologica-Medium.ttf); 
}