

@media(max-width: 1279px){

}

@media(max-width: 768px){

    .container {

        max-width: 90%;
    }

}

@media(max-width: 420px){

    .container {

        width: 320px;

        /* background-color: aqua; */
    }

    .sec {

        height: max-content;
    }

    .header {

        padding-top: 13.22px;
        padding-bottom: 15px;

        /* height: 24px; */

        /* margin-bottom: 15px; */
    }

    .header .logo {

        width: 112px;
        height: 24px;
    }

    .header .e__mail {

        width: 95px;
        font-size: 10px;
        margin-bottom: -8px;
        /* line-height: 47px; */

    }

    .section__2 {

        padding-bottom: 30px;
    }

    .section__2 .container {

        flex-direction: column-reverse;
        /* padding-top: 15px; */
      
    }

    .section__2 .left__block .title {

        font-size: 18px;
        width: 336px;
        text-align: center;
    }

    .section__2 .main__title {

        margin-bottom: 30px;
    }
    
    .section__2 .second__title {
    
        margin-bottom: 25px;
    }

    .section__2 .left__block {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section__2 .left__block .btn {

        width: 120px;
        height: 31px;
        font-size: 12px;
        padding: 7px 15px;


    }

    .section__2 .right__block  {

        width: 320px;
        height: 222px;

        border-radius: 4px;
        margin-bottom: 20px;
    }

    .section__2 .right__block .item {

        border-radius: 30px;
        width: 100%;
        height: 222px;
        object-fit: cover;
    }

    .section__3 {

        height: max-content;
        padding-top: 30px;
    }

    .slider .wrapper {

        width: 100%;
        height: max-content;
    }


    .slider .wrapper .title__slide {

        font-size: 16px;

        height: 226px;

       
    }

    .section__4 .title {

        font-size: 16px;

        padding-top: 40px;
        margin-bottom: 30px;

    }

    .section__4 .arrow__down .desctop_arrow_down{

        display: none;

        margin-bottom: 30px;
    }

    .section__4 .arrow__down {

        
        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 30px;
    }

    .section__4 .arrow__down .mobile__arrow__down {

        display: block;


    }

    /* .section__4 .arrow__down img {

        width: 20px;
        height: 100%;
    } */

    .section__4 .description {

        font-size: 12px;
    }


    .section__5 .wrapper {

        width: 320px;

        /* background-color: blueviolet; */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

    }

    .section__5 .wrapper .item {

        width: 150px;
        height: 26px;

        font-size: 12px;

        padding: 10px;
        margin-bottom: 10px;

    }

    .section__5 .wrapper .item.disable {

        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section__5 .wrap .item {

      display: none;
    
    }

    .section__6  {
        height: max-content;
        padding-top: 10px;
        padding-bottom: 50px;
    }
    .section__6 .container {

        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .section__6 .left__item {

        width: 100%;
        height: 310px;

        margin-bottom: 30px;

    }

    .section__6 .right__item {

        width: 320px;
        height: 222px;
        padding: 26px 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    
        background-color: #F6F4F4;
    
        border-radius: 40px;
    }
    

    .section__6 .right__item .item__desc {

        font-size: 36px;
        margin-bottom: 18px;


    }

    .right__item .icon {

        margin-bottom: 18px;
    }

    
    .section__6 .right__item .modile__svg {

        display: block;
    }

    .section__6 .right__item .icon .desctop__svg {

        display: none;
    }
 
    /* .section__6 .right__item .icon {

        width: 40px;
        height: 45px;

    } */

    .bottom__desc {
        width: 298px;
        font-size: 12px;

        text-align: center;

    }

    .bottom__desc br {

        display: none;
    }
    
    .section__7 {

        padding-top: 10px;
        padding-bottom: 65px;
        height: max-content;
    }

    .section__7 .wrapper {

        position: relative;

        height: 268px;
        /* background-color: rgb(18, 195, 5); */
    }

    .section__7 .wrapper .left__item,
    .section__7 .wrapper .bottom__item,
    .section__7 .wrapper .right__item {

        font-size: 12px;
    } 


    .section__7 .wrapper .central__item {
        position: relative;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        /* background-color: aqua; */
    }

    .section__7 .central__item .krug {


        width: 100px;
        height: 100px;
    
        border-radius: 50%;
        border: 2px solid #C62928;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        font-family: 'Geologica-medium';
        font-size: 25px;
    
        text-transform: uppercase;
        color: #C62928;
    }

    .section__7 .wrapper .central__item .left__arrow,
    .section__7 .wrapper .central__item .right__arrow {

        width: 64.37px;
       
    }


    .section__7 .wrapper .central__item .left__arrow {

        position: absolute;
        left: 0;
    
        transform-origin: center right;

        transform: translate(-100%, 70px) rotate(-45deg);

        bottom: 0px;
      
    
    }

    .section__7 .wrapper .central__item .down__arrow {

        
        height:52.63px;
        bottom: -82.63px;
        left: 50%;
        transform: translateX(-50%);
    }

    .section__7 .wrapper .central__item .right__arrow {

        position: absolute;
        transform-origin: center left;


        transform: translate(100%,70px) rotate(45deg);

    
        right: 0;
        top: 50%;
    }
    
    .section__7 .wrapper .left__item,
    .section__7 .wrapper .right__item {

        width: 155px;
        height: 56px;

        padding: 13px 0;

        font-size: 12px;
        position: absolute;
        bottom: 0; 
    }

    .section__7 .wrapper .left__item {

        left: 0;
    }

    .section__7 .wrapper .right__item {

        right: 0;
    }

    .section__7 .wrapper .bottom__item {

        width: 150px;
        height: 56px;

        padding: 13px;
        font-size: 12px;
        bottom: -178px
    }

    .section__8 {

        padding: 60px 0;
    }


    .section__8 .wrapper {

        width: 100%;

        position: relative;

        display: flex;
        flex-direction: column;
    
        height: 203px;
    
        padding: 30.37px 16.29px;
    
        background-color: #F6F4F4;
    
        border-radius: 40px;
    }


    .section__8 .wrapper .left__block .wrapper__img  {
        position: absolute;

        bottom: 30.37px;
        left:   16.29px;
        width: 45px;

        height: 65px;

        /* background-color: aqua; */

        display: flex;
        align-items: end;
        justify-content: center;
    
    }


    .section__8 .wrapper .left__block p {

        font-size: 12px;
    
    }

    .section__8 .wrapper .right__block .medium {
         
        position: absolute;
        top: 61.28px;
        left: 80px;
        margin-bottom: 0px;
        width: 225.7px;

        font-size: 12px;
    
    }

    .section__8 .wrapper .right__block .light {

        font-size: 12px;
        width: 224.7px;

        position: absolute;
        top: 130px;
        left: 80px;
    
    }


    .section__9 {

        padding-top: 30px;
        padding-bottom: 30px;
    }

    .section__9 .icon {

        width: 80px;
        height: 80px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        margin-bottom: 29.57px;
    }

    .section__9 .icon .desctop__v {

      display: none;
    }

    .section__9 .icon .mobile__v {

        display: block;

        width: 100%;
        height: 100%;
        object-fit: cover;
    
    }

    .section__9 .icon img {

        width: 34.2px;
        /* height: 41.35px; */

        /* object-fit: cover; */
    }

    .section__9 .description {

        font-family: 'Geologica-light';
        font-size: 16px;
        /* text-align: justify; */
        margin-bottom: 30px;
        width: 315px;

        display: none;
    }

    .section__9 .mobile__description {

        display: block;
        font-family: 'Geologica-light';
        font-size: 16px;
        /* text-align: justify; */
        margin-bottom: 30px;
        width: 315px;
    }

    .section__9 .description br {

        display: none;
    }


    .section__9 .icon__arrow__down {
        margin-bottom: 30px;
    }

 
    .section__9 .desctop__arrow__down {

        display: none;

    }

    .section__9 .mobile__arrow__down {

        display: block;
    }


    .section__9 .description_2 {

        font-size: 12px;
        color: #1F0101;
    
        text-align: center;
        text-transform: uppercase;
    
        margin-bottom: 30px;
    }

    .section__9 .wrapper {

        display: flex;
        flex-wrap: wrap;

        align-items: center;
        justify-content: center;
        /* margin-right: 10px; */
        margin-bottom: 60px;
    }

    .section__9 .wrapper .item {

        width: 155px;
        height: 70px;

        font-size: 12px;

        padding: 20px 15px;
        margin-bottom: 10.31px;


    }

    .section__9 .wrapper .item:nth-child(1){

        margin-right: 10px;
    }

    .section__9 .wrap__card {

        display: flex;
        flex-direction: column;

        margin-bottom: 30px;
    }
    .section__9 .left__item__card {

        width: 320px;
        height: 310px;

        overflow: hidden;
        /* height: 583.44px; */
     
        border-radius: 40px;
        margin-bottom: 30.14px;
    }

    .section__9 .item__card img {

        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .section__9 .right__item__card {

        width: 320px;
        height: 296px;

        border-radius: 40px;

        display: flex;
        flex-direction: column;
        align-items: center;
        /* text-align: center; */

        padding: 30px 18px;

    }

    .wrap__card .right__item__card p {

        margin-bottom: 9.11px;

        font-size: 36px;
    
    }

    .section__9 .right__item__card .logo {

        width: 45px;
        height: 45px;

        margin-bottom: 19.11px;
    
    }

    .section__9 .right__item__card .list li {
        position: relative;
        font-family: 'Geologica-light';
        font-size: 12px;
        padding-left: 74.64px;
        margin-left: 15px;
    
    }

    .section__9 .right__item__card .div__arrow__right {

        display: block;
        /* width: 61.68px; */
    }

    .section__9 .right__item__card .dot {
        display: none;
    }


    .section__contacts .text {

        font-size: 14px;
        margin-bottom: 60px;
    }

    
    .section__contacts .contacts {

        /* width: 214.51px; */
        font-size: 36px;
        margin-bottom: 20px;

    }

    .section__contacts .phone, .section__contacts .email {

        font-size: 14px;

        line-height: 14px;

    
    
    }

    .section__contacts .email {

        margin-top: 8px;
        margin-bottom: 60px;
    }   


    .section__contacts .footer__description {

        width: 317px;
        
        font-size: 10px;

        line-height: 17px;

        /* background-color: gray; */

        margin: 0 auto 41.15px;

    }

    .section__contacts .footer__description br {

        display: block;
    }

    



 
}